h1 {
    color: hsl(179, 62%, 43%);
    font-family: "Karla";
    padding: 10px;

}

h2  {
    color: hsl(71, 73%, 54%);
    font-family: "Karla";
    padding: 10px;
}

h4 {
    font-size: 16px;
    font-family: "Karla";
    color: hsl(218, 22%, 67%);
    padding: 0px;
}

.signUp {
    font-family: "Karla";
    width: 10px;
}

.card-img-top   {
    
}